In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/heart_data.csv')

Criando coluna IMC com o resultado da divisão do peso (coluna 'weigth') pelo quadrado da altura (coluna 'height'). É necessário incluir uma multiplicação por 10.000 para que o resultado fique na escala correta uma vez que a altura está em cm e não em m.

In [3]:
data.head()

,index,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
%%timeit

#Criando coluna com vetorização
data['imc'] = 10000*data['weight']/(data['height']*data['height'])

731 µs ± 36.5 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

Novo campo condicional do tipo se-então

In [5]:
%%timeit
condicoes = [
    (data['imc'] < 18.5),
    ((data['imc'] >= 18.5) & (data['imc'] < 25)),
    ((data['imc'] >= 25) & (data['imc'] < 30)),
    (data['imc'] >= 30)
]
classificacao = ['baixo-peso', 'normal', 'sobrepeso', 'obesidade']
data['class_imc'] = np.select(condicoes, classificacao, default = np.nan)

16.3 ms ± 654 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)